@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Trispace:wght@300&display=swap');
*{
    margin: 0;
}
.nav{
    background: linear-gradient(to top right, #6600cc 53%, #0033cc 100%);
    display: flex;
    padding: 15px;
    color: #ffffff;
    box-shadow: 2px 2px #eeeeee;
    justify-content: space-between;
}
.nav_left{
    font-family: 'Trispace', sans-serif;
}
.nav_right{
    padding: 2px;
}/* 
.nav_right > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav_right > li{
    text-decoration: none;
    color: #ffffff;
} */